<%= button_to "New Cron Job", new_cron_job_path, method: :get, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Expression</th>
      <th>Last run at</th>
      <th>Next run at</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cron_jobs.each do |cron| %>
      <tr>
        <td><%= cron.name %> </td>
        <td><%= cron.expression %></td>
        <td><%= cron.last_run_at %></td>
        <td><%= cron.next_run_at %></td>
        <td><%= cron.status %></td>
        <td>
          <%= link_to "Edit", edit_cron_job_path(cron), class: "btn btn-sm btn-primary" %>
          <%= button_to "Delete", cron, method: :delete, class: "btn btn-sm btn-danger" %>
      </tr>
    <% end %>
  </tbody>
</table>
